{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>#}
{#    <link href="/static/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">#}
{#    <script src="/static/bootstrap-3.3.7/js/bootstrap.min.js"></script>#}
{#    <link rel="stylesheet" href="/static/css/mycss.css">#}
{#    <link rel="stylesheet" href="/static/css/{{ blog.theme }}">#}
{#</head>#}
{#<body>#}
{#<nav class="navbar navbar-collapse" style="background-color: lemonchiffon">#}
{#    <div class="container-fluid">#}
{#        <!-- Brand and toggle get grouped for better mobile display -->#}
{#        <div class="navbar-header">#}
{#            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"#}
{#                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">#}
{#                <span class="sr-only">Toggle navigation</span>#}
{#                <span class="icon-bar"></span>#}
{#                <span class="icon-bar"></span>#}
{#                <span class="icon-bar"></span>#}
{#            </button>#}
{#            <a class="navbar-brand my_CSS3_class" href="#" style="color: lightsalmon">{{ blog.site_title }}</a>#}
{#        </div>#}
{##}
{#        <!-- Collect the nav links, forms, and other content for toggling -->#}
{#    </div><!-- /.container-fluid -->#}
{#</nav>#}
{#<div class="container-fluid">#}
{#    <div class="row">#}
{#        <div class="col-md-3">#}
{#            <div class="panel panel-warning">#}
{#                <div class="panel-heading">#}
{#                    <h3 class="panel-title">分类</h3>#}
{#                </div>#}
{#                <div class="panel-body">#}
{#                    {% for category in category_list %}#}
{#                        <p><a href="/{{ user_obj.username }}/category/{{ category.2 }}">{{ category.0 }}({{ category.1 }})</a></p>#}
{##}
{#                    {% endfor %}#}
{##}
{#                </div>#}
{#            </div>#}
{#            <div class="panel panel-info">#}
{#                <div class="panel-heading">#}
{#                    <h3 class="panel-title">标签</h3>#}
{#                </div>#}
{#                <div class="panel-body">#}
{#                    {% for tag in tag_list %}#}
{#                        <p><a href="">{{ tag.0 }}({{ tag.1 }})</a></p>#}
{#                    {% endfor %}#}
{##}
{#                </div>#}
{#            </div>#}
{#            <div class="panel panel-success">#}
{#                <div class="panel-heading">#}
{#                    <h3 class="panel-title">日期归档</h3>#}
{#                </div>#}
{#                <div class="panel-body">#}
{#                    {% for data in data_list %}#}
{#                        <p><a href="">{{ data.0|date:'Y年m月' }}({{ data.1 }})</a></p>#}
{#                    {% endfor %}#}
{##}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="col-md-9">#}
{#            {% for article in article_list %}#}
{#                <ul class="media-list">#}
{#                    <li class="media">#}
{#                        <h4 class="media-heading"><a href="">{{ article.title }}</a></h4>#}
{#                        <div class="media-left">#}
{#                            <a href="#">#}
{#                                <img class="media-object" src="/media/{{ article.blog.userinfo.avatar }}" alt="..." width="60">#}
{#                            </a>#}
{#                        </div>#}
{#                        <div class="media-body">#}
{#                            {{ article.desc }}#}
{#                        </div>#}
{#                    </li>#}
{#                </ul>#}
{#                  posted @ 2016-10-08 15:30 武沛齐 阅读(9538) 评论(15) 编辑#}
{#                <div class="clearfix">#}
{#                    <div class="pull-right">#}
{#                        <span>posted&nbsp;@</span>#}
{#                        <span>{{ article.create_time|date:'Y-m-d' }}&nbsp;&nbsp;</span>#}
{#                        <span>{{ article.blog.userinfo.username }}&nbsp;&nbsp;</span>#}
{#                        <span><span class="glyphicon glyphicon-comment"></span>评论（{{ article.comment_num }}）&nbsp;&nbsp;</span>#}
{#                        <span><span  class="glyphicon glyphicon-thumbs-up"></span>点赞({{ article.up_num }})</span>#}
{#                        <span><a href="">编辑</a></span>#}
{#                    </div>#}
{##}
{#                </div>#}
{##}
{#                <hr>#}
{#            {% endfor %}#}
{##}
{#        </div>#}
{#    </div>#}
{#</div>#}
{#</body>#}
{#</html>#}

{#-------模板的继承-------#}
{% extends 'base.html' %}

{% block content %}
    {% for article in article_list %}
        <ul class="media-list">
            <li class="media">
                <h4 class="media-heading"><a href="/{{ article.blog.userinfo.username }}/article/{{ article.pk }}/">{{ article.title }}</a></h4>
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="/media/{{ article.blog.userinfo.avatar }}" alt="..." width="60">
                    </a>
                </div>
                <div class="media-body">
                    {{ article.desc }}
                </div>
            </li>
        </ul>
{#        posted @ 2016-10-08 15:30 武沛齐 阅读(9538) 评论(15) 编辑#}
        <div class="clearfix">
            <div class="pull-right">
                <span>posted&nbsp;@</span>
                <span>{{ article.create_time|date:'Y-m-d' }}&nbsp;&nbsp;</span>
                <span>{{ article.blog.userinfo.username }}&nbsp;&nbsp;</span>
                <span><span class="glyphicon glyphicon-comment"></span>评论（{{ article.comment_num }}）&nbsp;&nbsp;</span>
                <span><span class="glyphicon glyphicon-thumbs-up"></span>点赞({{ article.up_num }})</span>
                <span><a href="/edit_article{{ article.pk }}/">编辑</a></span>
            </div>

        </div>

        <hr>
    {% endfor %}

{% endblock %}







